
@{
    ViewBag.Title = "CityNews";
}

<!--Page Title-->
<section class="page-banner">
    <div class="image-layer" style="background-image:url(/images/background/banner-image-5.jpg);"></div>

    <div class="banner-inner">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <h1>News Grid View</h1>
                <div class="page-nav">
                    <ul class="bread-crumb clearfix">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">City News</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-12 col-sm-12">
                <div class="content-inner">
                    <div class="blog-posts">
                        <div class="row clearfix">
                            <!--News Block-->
                            <div class="news-block-five col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><img src="~/images/resource/blog-image-12.jpg" alt=""></figure>
                                        <div class="date"><span>27.11.2019</span></div>
                                        <div class="hover-box">
                                            <div class="more-link"><a href="blog-single.html">Read More</a></div>
                                        </div>
                                    </div>
                                    <div class="lower-box">
                                        <div class="upper-info">
                                            <h4><a href="blog-single.html">Asks tech sector to help tackle London’s challenges</a></h4>
                                            <div class="cat-info">
                                                <a href="#"><span class="fa fa-folder"></span>Community Life</a>
                                            </div>
                                        </div>

                                        <div class="meta-info clearfix">
                                            <div class="author-info clearfix">
                                                <div class="author-icon"><span class="flaticon-user-3"></span></div>
                                                <div class="author-title">By Julie Gordon</div>
                                            </div>
                                            <div class="comments-info">
                                                <a href="#"><span class="fa fa-comment"></span> 03</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--News Block-->
                            <div class="news-block-five col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><img src="~/images/resource/blog-image-13.jpg" alt=""></figure>
                                        <div class="date"><span>25.11.2019</span></div>
                                        <div class="hover-box">
                                            <div class="more-link"><a href="blog-single.html">Read More</a></div>
                                        </div>
                                    </div>
                                    <div class="lower-box">
                                        <div class="upper-info">
                                            <h4><a href="blog-single.html">Last chance to get your tickets for christmas fireworks</a></h4>
                                            <div class="cat-info">
                                                <a href="#"><span class="fa fa-folder"></span>Public Information</a>
                                            </div>
                                        </div>

                                        <div class="meta-info clearfix">
                                            <div class="author-info clearfix">
                                                <div class="author-icon"><span class="flaticon-user-3"></span></div>
                                                <div class="author-title">By Edmud Caspar</div>
                                            </div>
                                            <div class="comments-info">
                                                <a href="#"><span class="fa fa-comment"></span> 05</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--News Block-->
                            <div class="news-block-five col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><img src="~/images/resource/blog-image-14.jpg" alt=""></figure>
                                        <div class="date"><span>17.10.2019</span></div>
                                        <div class="hover-box">
                                            <div class="more-link"><a href="blog-single.html">Read More</a></div>
                                        </div>
                                    </div>
                                    <div class="lower-box">
                                        <div class="upper-info">
                                            <h4><a href="blog-single.html">Mayor announces london living wage £10.75 per hour</a></h4>
                                            <div class="cat-info">
                                                <a href="#"><span class="fa fa-folder"></span>Regeneration</a>
                                            </div>
                                        </div>

                                        <div class="meta-info clearfix">
                                            <div class="author-info clearfix">
                                                <div class="author-icon"><span class="flaticon-user-3"></span></div>
                                                <div class="author-title">By Julie Gordon</div>
                                            </div>
                                            <div class="comments-info">
                                                <a href="#"><span class="fa fa-comment"></span> 0</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--News Block-->
                            <div class="news-block-five col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><img src="~/images/resource/blog-image-15.jpg" alt=""></figure>
                                        <div class="date"><span>15.10.2019</span></div>
                                        <div class="hover-box">
                                            <div class="more-link"><a href="blog-single.html">Read More</a></div>
                                        </div>
                                    </div>
                                    <div class="lower-box">
                                        <div class="upper-info">
                                            <h4><a href="blog-single.html">Asks tech sector to help tackle London’s challenges</a></h4>
                                            <div class="cat-info">
                                                <a href="#"><span class="fa fa-folder"></span>Public Information</a>
                                            </div>
                                        </div>

                                        <div class="meta-info clearfix">
                                            <div class="author-info clearfix">
                                                <div class="author-icon"><span class="flaticon-user-3"></span></div>
                                                <div class="author-title">By Julie Gordon</div>
                                            </div>
                                            <div class="comments-info">
                                                <a href="#"><span class="fa fa-comment"></span> 13</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--News Block-->
                            <div class="news-block-five col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><img src="~/images/resource/blog-image-16.jpg" alt=""></figure>
                                        <div class="date"><span>20.11.2019</span></div>
                                        <div class="hover-box">
                                            <div class="more-link"><a href="blog-single.html">Read More</a></div>
                                        </div>
                                    </div>
                                    <div class="lower-box">
                                        <div class="upper-info">
                                            <h4><a href="blog-single.html">Get your tickets for christmas fireworks</a></h4>
                                            <div class="cat-info">
                                                <a href="#"><span class="fa fa-folder"></span>Regeneration</a>
                                            </div>
                                        </div>

                                        <div class="meta-info clearfix">
                                            <div class="author-info clearfix">
                                                <div class="author-icon"><span class="flaticon-user-3"></span></div>
                                                <div class="author-title">By Julie Gordon</div>
                                            </div>
                                            <div class="comments-info">
                                                <a href="#"><span class="fa fa-comment"></span> 21</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--News Block-->
                            <div class="news-block-five col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><img src="~/images/resource/blog-image-17.jpg" alt=""></figure>
                                        <div class="date"><span>13.10.2019</span></div>
                                        <div class="hover-box">
                                            <div class="more-link"><a href="blog-single.html">Read More</a></div>
                                        </div>
                                    </div>
                                    <div class="lower-box">
                                        <div class="upper-info">
                                            <h4><a href="blog-single.html">Mayor announces london living wage £10.75 per hour</a></h4>
                                            <div class="cat-info">
                                                <a href="#"><span class="fa fa-folder"></span>Community Life</a>
                                            </div>
                                        </div>

                                        <div class="meta-info clearfix">
                                            <div class="author-info clearfix">
                                                <div class="author-icon"><span class="flaticon-user-3"></span></div>
                                                <div class="author-title">By Julie Gordon</div>
                                            </div>
                                            <div class="comments-info">
                                                <a href="#"><span class="fa fa-comment"></span> 35</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--News Block-->
                            <div class="news-block-five col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><img src="~/images/resource/blog-image-18.jpg" alt=""></figure>
                                        <div class="date"><span>21.11.2019</span></div>
                                        <div class="hover-box">
                                            <div class="more-link"><a href="blog-single.html">Read More</a></div>
                                        </div>
                                    </div>
                                    <div class="lower-box">
                                        <div class="upper-info">
                                            <h4><a href="blog-single.html">Asks tech sector to help tackle London’s challenges</a></h4>
                                            <div class="cat-info">
                                                <a href="#"><span class="fa fa-folder"></span>Community Life</a>
                                            </div>
                                        </div>

                                        <div class="meta-info clearfix">
                                            <div class="author-info clearfix">
                                                <div class="author-icon"><span class="flaticon-user-3"></span></div>
                                                <div class="author-title">By Julie Gordon</div>
                                            </div>
                                            <div class="comments-info">
                                                <a href="#"><span class="fa fa-comment"></span> 21</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--News Block-->
                            <div class="news-block-five col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <figure class="image"><img src="~/images/resource/blog-image-19.jpg" alt=""></figure>
                                        <div class="date"><span>17.12.2019</span></div>
                                        <div class="hover-box">
                                            <div class="more-link"><a href="blog-single.html">Read More</a></div>
                                        </div>
                                    </div>
                                    <div class="lower-box">
                                        <div class="upper-info">
                                            <h4><a href="blog-single.html">Get your tickets for christmas fireworks</a></h4>
                                            <div class="cat-info">
                                                <a href="#"><span class="fa fa-folder"></span>Regeneration</a>
                                            </div>
                                        </div>

                                        <div class="meta-info clearfix">
                                            <div class="author-info clearfix">
                                                <div class="author-icon"><span class="flaticon-user-3"></span></div>
                                                <div class="author-title">By Julie Gordon</div>
                                            </div>
                                            <div class="comments-info">
                                                <a href="#"><span class="fa fa-comment"></span> 35</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Pagination-->
                    <div class="pagination-box text-center">
                        <ul class="styled-pagination">
                            <li class="prev"><a href="#"><span class="icon flaticon-arrows-1"></span> Prev</a></li>
                            <li><a href="#" class="active">1</a></li>
                            <li><a href="#">2</a></li>
                            <li class="next"><a href="#">Next <span class="icon flaticon-right-2"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                <aside class="sidebar">
                    <div class="bg-layer">
                        <div class="image-layer" style="background-image:url(/images/background/sidebar-bg-image.jpg);"></div>
                    </div>

                    <div class="sidebar-widget search-box">
                        <div class="widget-inner">
                            <div class="sidebar-title">
                                <h4>Rechercher</h4>
                            </div>
                            <form method="post" action="blog.html">
                                <div class="form-group">
                                    <input type="search" name="search-field" value="" placeholder="Keyword..." required="">
                                    <button type="submit"><span class="icon flaticon-magnifying-glass"></span></button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="sidebar-widget cat-widget">
                        <div class="widget-content">
                            <div class="sidebar-title">
                                <h4>Categories</h4>
                            </div>
                            <ul class="cat-links clearfix">
                                <li><a href="blog-single.html">Community Life</a></li>
                                <li class="current"><a href="blog-single.html">Opportunities</a></li>
                                <li><a href="blog-single.html">Toursit Guide</a></li>
                                <li><a href="blog-single.html">Regeneration</a></li>
                                <li><a href="blog-single.html">Public Information</a></li>
                            </ul>
                        </div>
                    </div>

                    <!--Posts-->
                    <div class="sidebar-widget recent-posts">
                        <div class="widget-inner">
                            <div class="sidebar-title">
                                <h4>Popular Post</h4>
                            </div>

                            <div class="recent-posts-box">
                                <div class="post">
                                    <div class="inner">
                                        <figure class="post-thumb"><img src="~/images/resource/post-thumb-1.jpg" alt=""><a href="#" class="overlink"><span class="icon flaticon-zoom-in"></span></a></figure>
                                        <div class="post-date">24.12.2019</div>
                                        <h5 class="title"><a href="#">Asks tech sector to help tackle challenges</a></h5>
                                    </div>
                                </div>

                                <div class="post">
                                    <div class="inner">
                                        <figure class="post-thumb"><img src="~/images/resource/post-thumb-2.jpg" alt=""><a href="#" class="overlink"><span class="icon flaticon-zoom-in"></span></a></figure>
                                        <div class="post-date">17.12.2019</div>
                                        <h5 class="title"><a href="#">Top 10 tourist places in london city </a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Tags-->
                    <div class="sidebar-widget popular-tags">
                        <div class="widget-inner">
                            <div class="sidebar-title">
                                <h4>Tag Cloud</h4>
                            </div>
                            <ul class="tags-list clearfix">
                                <li><a href="#">Activities</a></li>
                                <li><a href="#">Certificates</a></li>
                                <li><a href="#">Culture</a></li>
                                <li><a href="#">Designs</a></li>
                                <li><a href="#">Drinks & Food</a></li>
                                <li><a href="#">Play</a></li>
                                <li><a href="#">Recreation</a></li>
                                <li><a href="#">Taxes & Bills</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="sidebar-widget contact-widget">
                        <div class="widget-content">
                            <div class="sidebar-title">
                                <h4>Subscribe Us</h4>
                            </div>
                            <div class="newsletter-box-two">
                                <div class="image-box">
                                    <div class="image-layer" style="background-image: url(/images/background/image-13.jpg);"></div>
                                    <div class="text">Subscribe us to get latest news and events detail.</div>
                                    <form method="post" action="contact.html">
                                        <div class="form-group clearfix">
                                            <input type="email" name="email" value="" placeholder="mailid@example.com" required="">
                                            <button type="submit" class="theme-btn btn-style-one"><span class="btn-title">Subscribe Us</span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </aside>
            </div>

        </div>
    </div>
</div>   