
@{
    ViewBag.Title = "EventsGrid";
}

<!--Page Title-->
<section class="page-banner">
    <div class="image-layer" style="background-image:url(/images/background/banner-image-5.jpg);"></div>

    <div class="banner-inner">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <h1>Events Grid View</h1>
                <div class="page-nav">
                    <ul class="bread-crumb clearfix">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Events</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Events Section-->
<section class="events-section-two load-more-section" data-load-number="2">
    <div class="auto-container">

        <div class="upper-info clearfix">
            <div class="items-label"><span>16</span> Upcoming events.</div>
            <div class="sort-by">
                <div class="drop-list-one">
                    <div class="inner clearfix">
                        <div class="dropdown-outer open">
                            <a class="btn-box dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#">Upcoming Events</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="events-grid.html">Upcoming Events</a></li>
                                <li><a href="events-grid.html">Previous Events</a></li>
                                <li><a href="events-grid.html">Sort By Newest</a></li>
                                <li><a href="events-grid.html">Cancelled Events</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <!--Event Block-->
            <div class="event-block-two col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="event-details.html"><img src="~/images/resource/featured-image-21.jpg" alt=""></a></figure>
                    </div>
                    <div class="lower-box">
                        <div class="content-box">
                            <div class="date-box"><div class="date"><span class="day">14</span><span class="month">December</span></div></div>
                            <div class="content">
                                <div class="cat-info"><a href="event-details.html">Conference</a></div>
                                <h3><a href="event-details.html">Dacy's parade balloon inflation</a></h3>
                                <div class="location">At 12th street, Central park west, UK</div>
                                <div class="read-more"><a href="event-details.html">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Event Block-->
            <div class="event-block-two col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="event-details.html"><img src="~/images/resource/featured-image-22.jpg" alt=""></a></figure>
                    </div>
                    <div class="lower-box">
                        <div class="content-box">
                            <div class="date-box"><div class="date"><span class="day">22</span><span class="month">December</span></div></div>
                            <div class="content">
                                <div class="cat-info"><a href="event-details.html">Celebration</a></div>
                                <h3><a href="event-details.html">Mayor's christmas carol service</a></h3>
                                <div class="location">At 12th street, Central park west, UK</div>
                                <div class="read-more"><a href="event-details.html">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Event Block-->
            <div class="event-block-two col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="event-details.html"><img src="~/images/resource/featured-image-23.jpg" alt=""></a></figure>
                    </div>
                    <div class="lower-box">
                        <div class="content-box">
                            <div class="date-box"><div class="date"><span class="day">04</span><span class="month">December</span></div></div>
                            <div class="content">
                                <div class="cat-info"><a href="event-details.html">Conference</a></div>
                                <h3><a href="event-details.html">City job fair’19 for mayor’s office</a></h3>
                                <div class="location">At 12th street, Central park west, UK</div>
                                <div class="read-more"><a href="event-details.html">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Event Block-->
            <div class="event-block-two col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="event-details.html"><img src="~/images/resource/featured-image-24.jpg" alt=""></a></figure>
                    </div>
                    <div class="lower-box">
                        <div class="content-box">
                            <div class="date-box"><div class="date"><span class="day">04</span><span class="month">January</span></div></div>
                            <div class="content">
                                <div class="cat-info"><a href="event-details.html">Celebration</a></div>
                                <h3><a href="event-details.html">School level football match</a></h3>
                                <div class="location">At 12th street, Central park west, UK</div>
                                <div class="read-more"><a href="event-details.html">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Event Block-->
            <div class="event-block-two col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="event-details.html"><img src="~/images/resource/featured-image-25.jpg" alt=""></a></figure>
                    </div>
                    <div class="lower-box">
                        <div class="content-box">
                            <div class="date-box"><div class="date"><span class="day">26</span><span class="month">january</span></div></div>
                            <div class="content">
                                <div class="cat-info"><a href="event-details.html">Conference</a></div>
                                <h3><a href="event-details.html">Dacy's parade balloon inflation</a></h3>
                                <div class="location">At 12th street, Central park west, UK</div>
                                <div class="read-more"><a href="event-details.html">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Event Block-->
            <div class="event-block-two col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="event-details.html"><img src="~/images/resource/featured-image-26.jpg" alt=""></a></figure>
                    </div>
                    <div class="lower-box">
                        <div class="content-box">
                            <div class="date-box"><div class="date"><span class="day">14</span><span class="month">December</span></div></div>
                            <div class="content">
                                <div class="cat-info"><a href="event-details.html">Celebration</a></div>
                                <h3><a href="event-details.html">Mayor's christmas carol service</a></h3>
                                <div class="location">At 12th street, Central park west, UK</div>
                                <div class="read-more"><a href="event-details.html">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Event Block-->
            <div class="event-block-two load-more-item col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="event-details.html"><img src="~/images/resource/featured-image-21.jpg" alt=""></a></figure>
                    </div>
                    <div class="lower-box">
                        <div class="content-box">
                            <div class="date-box"><div class="date"><span class="day">14</span><span class="month">December</span></div></div>
                            <div class="content">
                                <div class="cat-info"><a href="event-details.html">Conference</a></div>
                                <h3><a href="event-details.html">Dacy's parade balloon inflation</a></h3>
                                <div class="location">At 12th street, Central park west, UK</div>
                                <div class="read-more"><a href="event-details.html">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Event Block-->
            <div class="event-block-two load-more-item col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="event-details.html"><img src="~/images/resource/featured-image-22.jpg" alt=""></a></figure>
                    </div>
                    <div class="lower-box">
                        <div class="content-box">
                            <div class="date-box"><div class="date"><span class="day">22</span><span class="month">December</span></div></div>
                            <div class="content">
                                <div class="cat-info"><a href="event-details.html">Celebration</a></div>
                                <h3><a href="event-details.html">Mayor's christmas carol service</a></h3>
                                <div class="location">At 12th street, Central park west, UK</div>
                                <div class="read-more"><a href="event-details.html">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Event Block-->
            <div class="event-block-two load-more-item col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="event-details.html"><img src="~/images/resource/featured-image-23.jpg" alt=""></a></figure>
                    </div>
                    <div class="lower-box">
                        <div class="content-box">
                            <div class="date-box"><div class="date"><span class="day">04</span><span class="month">December</span></div></div>
                            <div class="content">
                                <div class="cat-info"><a href="event-details.html">Conference</a></div>
                                <h3><a href="event-details.html">City job fair’19 for mayor’s office</a></h3>
                                <div class="location">At 12th street, Central park west, UK</div>
                                <div class="read-more"><a href="event-details.html">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Event Block-->
            <div class="event-block-two load-more-item col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="event-details.html"><img src="~/images/resource/featured-image-24.jpg" alt=""></a></figure>
                    </div>
                    <div class="lower-box">
                        <div class="content-box">
                            <div class="date-box"><div class="date"><span class="day">04</span><span class="month">January</span></div></div>
                            <div class="content">
                                <div class="cat-info"><a href="event-details.html">Celebration</a></div>
                                <h3><a href="event-details.html">School level football match</a></h3>
                                <div class="location">At 12th street, Central park west, UK</div>
                                <div class="read-more"><a href="event-details.html">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Event Block-->
            <div class="event-block-two load-more-item col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="event-details.html"><img src="~/images/resource/featured-image-25.jpg" alt=""></a></figure>
                    </div>
                    <div class="lower-box">
                        <div class="content-box">
                            <div class="date-box"><div class="date"><span class="day">26</span><span class="month">january</span></div></div>
                            <div class="content">
                                <div class="cat-info"><a href="event-details.html">Conference</a></div>
                                <h3><a href="event-details.html">Dacy's parade balloon inflation</a></h3>
                                <div class="location">At 12th street, Central park west, UK</div>
                                <div class="read-more"><a href="event-details.html">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Event Block-->
            <div class="event-block-two load-more-item col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="event-details.html"><img src="~/images/resource/featured-image-26.jpg" alt=""></a></figure>
                    </div>
                    <div class="lower-box">
                        <div class="content-box">
                            <div class="date-box"><div class="date"><span class="day">14</span><span class="month">December</span></div></div>
                            <div class="content">
                                <div class="cat-info"><a href="event-details.html">Celebration</a></div>
                                <h3><a href="event-details.html">Mayor's christmas carol service</a></h3>
                                <div class="location">At 12th street, Central park west, UK</div>
                                <div class="read-more"><a href="event-details.html">Read More</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="load-more text-center">
            <a href="portfolio-grid-2.html" class="theme-btn btn-style-one load-more-btn"><span class="btn-title">Load More</span></a>
        </div>

    </div>
</section>


@section scripts{
    <script>
        $(document).ready(function () {
            $("#menuEvents").attr("class", "current dropdown");
        });
    </script>
}
