
@{
    ViewBag.Title = "Notre fonctionnement";
}

<!--Page Title-->
<section class="page-banner">
    <div class="image-layer" style="background-image:url(/images/background/banner-image-2.jpg);"></div>

    <div class="banner-inner">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <h1>Notre fonctionnement</h1>
                <div class="page-nav">
                    <ul class="bread-crumb clearfix">
                        <li><a href="~/Home/Index">Accueil</a></li>
                        <li class="active">Notre fonctionnement</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Welcome Section-->
<section class="welcome-section-two alternate">
    <div class="lower-row">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="text-col col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="inner">
                        <div class="sec-title with-separator">
                            <h2>Coaliser les forces démocratiques pacifiques</h2>
                            <div class="separator"><span class="cir c-1"></span><span class="cir c-2"></span><span class="cir c-3"></span></div>
                        </div>
                        <div class="text">
                            Ensemble on est toujours plus forts, et la violence à priori n’est pas une arme de premier choix. EnCoRe est la coalition qui lutte de manière efficace pour le retour à l’Ordre Constitutionnel de la Constitution de 1990.
                        </div>
                    </div>
                </div>

                <div class="text-col col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="inner">
                        <div class="sec-title with-separator">
                            <h2>Redonner confiance aux femmes</h2>
                            <div class="separator"><span class="cir c-1"></span><span class="cir c-2"></span><span class="cir c-3"></span></div>
                        </div>
                        <div class="text">
                            Les femmes représentent 55% de la population. Le constat est là et clair qu’elles ont souvent été tenues en dehors des sérails de décisions.
                            Il est aujourd’hui évident que statistiquement elles n’ont pas un noyau assez fort pour peser dans les décisions.<br />
                            Pire, l’usage a été de les opposer les unes aux autres.<br />
                            Les femmes béninoises doivent davantage s’intéresser à la gestion du pays. Il existe aujourd’hui certaines d’entre elles qui l’ont fait. Certaines d’entre elles doivent prendre leur responsabilité.
                        </div>
                    </div>
                </div>

                <div class="text-col col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="inner">
                        <div class="sec-title with-separator">
                            <h2>Intégrer la jeunesse dans le processus de développement</h2>
                            <div class="separator"><span class="cir c-1"></span><span class="cir c-2"></span><span class="cir c-3"></span></div>
                        </div>
                        <div class="text">
                            La jeunesse a un rôle à jouer dans la révolution de 2021. Elle en sera certainement le fer de lance de notre lutte.
                            Il urge donc qu’elle prenne conscience des enjeux des élections présidentielles à venir et qu’elle soit aussi préparée à court terme à la gestion des acquis démocratiques.
                        </div>
                    </div>
                </div>

                <div class="text-col col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="inner">
                        <div class="sec-title with-separator">
                            <h2>Justice sociale et démocratie participative</h2>
                            <div class="separator"><span class="cir c-1"></span><span class="cir c-2"></span><span class="cir c-3"></span></div>
                        </div>
                        <div class="text">
                            Dans un contexte ou le peuple a visiblement perdu toute confiance en une justice impartiale, et perdu tout espoir en un bien être socio-économique partagé, 
                            il est important pour nous, de recréer cette confiance pour garantir aux populations une justice sociale, tout en impliquant celles-ci dans les processus de décision sur les sujets d’intérêt national.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

