
@{
    ViewBag.Title = "Commentaires en attentes";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Commentaires en attentes</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="ReadComments" class="table table-bordered table-hover">
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

<div class="modal fade" id="deleteComment">

</div>
<!-- /.modal -->
@*<div class="modal fade" id="modal-xl">

    </div>*@

<!-- /.modal -->


@section Scripts {
    @*<script src="~/Scripts/tinymce/tiny_mce.js" type="text/javascript"></script>*@

    <script type="text/javascript">

        $(document).ready(function () {
            refresh();
        });


        function CommentDeletionPopup(id) {

            if (id) {
                $.ajax({
                    url: '/Articles/CommentDeletionPopup/' + id,
                    cache: false,
                    success: function (data) {
                        $("#deleteComment").html(data);
                        $("#deleteComment").modal("toggle");
                    }
                })
            }
        };

        function AutorizeOrDeleteComment(idComment,action) {
            $.ajax({
                type: "POST",
                url: '/Articles/AutorizeOrDeleteComment',
                data: {
                    idComment: idComment,
                    action: action,
                },
                cache: false
            }).done(function (response) {
                if (response == "OK") {
                    refresh();
                }
                else {
                    alert(response);
                    return;
                }
            });
        }

        function refresh() {
            $.ajax({
                url: '/Articles/GetListComment',
                @*data: {
                    idArticle: '@Model.Id'
                },*@
                cache: false,
                success: function (data) {
                   $("#ReadComments").html(data);
                }
            })
        };

    </script>
}

